* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
}

*:focus {
    outline: 2px dotted #0EB4C1;
    outline-offset: 3px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

}

.btn {
    border: none;
    padding: 12px 24px;
    background-color: #DE2E54;
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1, 5;
    transition: all 0.9s ease;
}

.btn:hover {
    color: #DE2E54;
    background-color: #fff;
    border: 2px solid #DE2E54;
}
.btn:active{
    opacity: 0.6;
}


.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    transition: all 0.4 ease;
}

.site-logo {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.site-logo-title {
    font-weight: 600;
    font-size: 24px;

    line-height: 1.4;
}

.site-logo-title:hover {
    color: #DE2E54;
}

.site-logo-title:active {
    opacity: 0.6;
}

.site-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-item:not(:last-child) {
    margin-right: 32px;
}

.site-item-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #222222;
    transition: all 0.4 ease;
}

.site-item-link:hover {
    color: #DE2E54;
}

.site-item-link:active {
    opacity: 0.6;
}

